html
{
	height:96%;
	min-height:400px;
	width:96%;
	min-width:800px;
	margin:0%;
	padding:1%;
	
	font-size:100%;
	font-family:"Trebuchet MS";
	color:white;
	
	background: url(../img/bg.jpg) #10a5d3;
}


body
{
	height:96%;
	width:100%;
	margin:0%;
	padding:1%;
	
	border-radius:10px;
	
	background-color:#AAA;
}


div#page
{
	height:100%;
	margin:0%;
	padding:0%;
}


div#header
{
	height:45px;
	margin-bottom:1%;
	padding:0%;
	
	font-weight:bold;
	
	border-radius:20px;
	
	background: url(../img/bg.jpg) #10a5d3;
}

div#head1
{
	float:left;
	margin-left:50px;
	height:100%;
}

div#head2
{
	float:right;
	margin-top:9px;
	margin-right:30px;
	height:calc(100% - 9px);
}

div#head2 a
{
	margin-left:5px;
	margin-right:5px;
}

p#head
{
	margin:0%;
	padding:0%;
	
	font-size:2em;
	text-align:center;
}

div#header input
{
	border-radius:10px;
	outline:none;
}

div#block
{
	height:calc(98% - 45px);
	margin:0%;
	padding:0%;
}


div#right
{
	height:100%;
	width:180px;
	margin:0%;
	padding:0%;
	float:right;
	
	border-radius:20px;
	
	overflow:auto;

	background: url(../img/bg.jpg) #10a5d3;
}

div#online
{
	height:8%;
	margin:0%;
	padding:0%;
	
	font-size:1em;
	text-align:center;
}


div#container
{
	position:relative;
	height:100%;
	width:calc(99% - 180px);
	margin:0%;
	padding:0%;
	
	border-radius:20px;
}

div#textArea
{
	height:calc(97% - 50px);
	width:calc(100% - 40px);
	margin:0%;
	padding:1px 20px;  
	
	border-radius:20px;
	
	overflow:auto;

	background: url(../img/bg.jpg) #10a5d3;
}

div#textArea p
{
	margin:0;
}


div#msgArea
{
	position:absolute;
	bottom:0;
	height:50px;
	width:calc(100% - 20px);
	margin:0%;
	padding:0% 10px;
	
	border-radius:20px;

	background: url(../img/bg.jpg) #10a5d3;
}

form#form_msg
{ margin-top:10px; }

input#msg
{
	vertical-align:middle;
	margin:0px;
	padding:5px;
	width:calc(97% - 75px);
	border-radius:20px;
	background-color: #CCC;
	outline:none;
}

input#send
{
	float:right;
	height:30px;
	width:75px;
	vertical-align:middle;
	border-radius:20px;
	outline:none;
}